@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- The result is: Generated local source address tag -->
    @jQuery.JsOnLocal

    <!-- The result is: Generated CDN address tag -->
    @jQuery.JsOnCDN

    <title>Index</title>
</head>
<body>
    <div>
        Please look out the source of page to see the code generated from embedded pack project
    </div>
</body>
</html>
